language: python

python:
  - 2.5
  - 2.6
  - 2.7
#  there are some issues with the PyPy installation on Travis, making
#  it impossible to install Twisted, so skip it for now
#  - pypy

env:
  - TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=default
  - TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=select
  - TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=poll
  - TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=epoll
#  it's a pain to install gobject and pygtk in a virtualenv, so don't bother
#  - TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=gtk2

# only check all four reactors on 2.7
matrix:
  exclude:
    - python: 2.5
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=select
    - python: 2.5
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=poll
    - python: 2.5
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=epoll
    - python: 2.5
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=gtk2

    - python: 2.6
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=select
    - python: 2.6
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=poll
    - python: 2.6
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=epoll
    - python: 2.6
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=gtk2

    - python: 2.7
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=default

    - python: pypy
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=select
    - python: pypy
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=poll
    - python: pypy
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=epoll
    - python: pypy
      env: TXPOSTGRES_TEST_HOST=127.0.0.1 TXPOSTGRES_TEST_USER=postgres REACTOR=gtk2


# only need psycopg2ct on PyPy, the rest gets normal psycopg2
# use zope.interface 3.8.0 since the latest version dropped Python 2.5 support
install:
  - sudo apt-get install libpq-dev
  - test "$TRAVIS_PYTHON_VERSION" == "pypy" && pip install psycopg2ct --use-mirrors || true
  - test "$TRAVIS_PYTHON_VERSION" != "pypy" && pip install psycopg2 --use-mirrors || true
  - pip install zope.interface==3.8.0 --use-mirrors
  - pip install twisted --use-mirrors

before_script:
  - psql -U postgres -c 'create database twisted_test'

script: trial --reactor=$REACTOR test

notifications:
  email:
    - wulczer@wulczer.org
